#Ignore the build directory
/build
/.gradle
/.idea
local.properties
*.iml
*.apk
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
java_pid1746.hprof
java_pid24265.hprof
java_pid32499.hprof
